<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProjectV3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/journal/bootstrap.min.css">  
  </head>

  <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <%= link_to "GOSSIPS", root_path, class: "navbar-brand" %>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                    <div class="collapse navbar-collapse">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <%= link_to "TEAM", team_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "CONTACT", contact_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "New User", new_user_path, :class => "btn btn-primary"%>
                        </li>
                        <li class="nav-item">
                          <%= link_to "New Gossip", new_user_gossip_path(user_id: current_user), :class => "btn btn-primary" if current_user %>
                        </li>
                      </ul>
                    </div> 

                    <% if current_user %>
                    
                        <li class="nav-item">
                          <%= link_to "Log out", session_path(current_user), :class => "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
                        </li>
                    
                    <% else %>
                        <ul class="navbar-nav">
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">S'inscrire / Se connecter</a>
                                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="<%=new_user_path%>">S'inscrire</a>
                                            <hr>
                                            <a class="dropdown-item" href="<%=new_session_path%>">Se connecter</a>
                                          </div>
                                  </li>
                          </ul>
                      <% end %>         
        </nav>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
